<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
    <title>Team Homepage - {{ title }}</title>
    {% else %}
    <title>Team Homepage</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <style>
        h1 { color: black; background-color: yellow; transition: color background-color 1s;}
        h1:hover {color: yellow; background-color: black;}
    </style>
</head>
<body>
    <header>
        <div id="clock"></div>
        <script src="{{ url_for('static', filename='source.js') }}"></script>
        {% if subtitle %}
        <h1>과제06 웹사이트 만들기 - {{ subtitle }}</h1>
        {% else %}
        <h1>과제06 웹사이트 만들기</h1>
        {% endif %}
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About Us</a>
    </nav>
    <hr>

    <main role="main">
    {% block content %}{% endblock %}
    </main>
</body>
</html>